<nav class="navbar navbar-expand-lg bg-light">
    @*<nav class="navbar navbar-expand-lg navbar-light bg-light">*@
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Manager" asp-action="Home"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Salespeople"><i class="fas fa-users"></i> My Salespeople</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Houses"><i class="fas fa-list-ul"></i> My Houses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Products"><i class="fas fa-box-open"></i> My Products</a>
            </li>
            <partial name="~/Views/Shared/Partials/LogoutNavButton.cshtml" />
        </ul>
    </div>
</nav>