/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

#reset-success {
    color: green;
    font-weight: bold;
}

#admin-manager-list {
    padding: 0;
    list-style: none;
}

#admin-manager-list > :first-child {
    font-weight: bold;
}

#admin-manager-list > :nth-child(even) {
    background-color: lightsteelblue;
}

.manager-list-item {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: ". first . last . email . reset .";
}

.manager-list-first-name{
    grid-area: first;
}

.manager-list-last-name{
    grid-area: last;
}

.manager-list-email {
    grid-area: email
}

.manager-list-reset {
    grid-area: reset
}




#manger-salespeople-list {
    padding: 0;
    list-style: none;
}

    #manager-salespeople-list > :first-child {
        font-weight: bold;
    }

    #manager-salespeople-list > :nth-child(even) {
        background-color: lightsteelblue;
    }

.salespeople-list-item {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: ". first . last . email . reset .";
}

.salespeople-list-first-name {
    grid-area: first;
}

.salespeople-list-last-name {
    grid-area: last;
}

.salespeople-list-email {
    grid-area: email
}

.salespeople-list-reset {
    grid-area: reset
}


footer > p {
    text-align: center;
}

/*Affects the header section, fits logo to header, applies a translucent background*/
.header > h1 {
    height: 35%;
    background-color: rgba(66, 226, 244,.5);
    padding: 0px;
}

    /*Changes logo with and height*/
    .header img {
        width: 600px;
        height: auto;
        opacity: unset;
    }