body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cadetblue !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    display: block;
    text-align: end;
}

#reset-success {
    color: green;
    font-weight: bold;
}

#admin-manager-list, #manger-salespeople-list,
#manager-house-list, #salesperson-house-list {
    padding: 0;
    list-style: none;
}

#admin-manager-list > :first-child,
#manager-salespeople-list > :first-child,
#manager-house-list > :first-child,
#salesperson-house-list > :first-child {
    font-weight: bold;
    border-bottom: 3px solid black;
}

    #admin-manager-list > :nth-child(even),
    #manager-salespeople-list > :nth-child(even),
    #manager-house-list > :nth-child(even),
    #salesperson-house-list > :nth-child(even) {
        background-color: cadetblue;
    }

#manager-product-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
}

.product-list-item {
    padding: 5px;
    text-transform: capitalize;
}

.manager-list-item,
.salespeople-list-item {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;
    grid-template-areas: "first last email reset .";
    grid-gap: 5px;
}

.manager-list-item, .salespeople-list-item,
.house-list-item, #house-details {
    align-items: center;
    text-transform: capitalize;
}

.manager-list-first-name,
.salespeople-list-first-name {
    grid-area: first;
}

.manager-list-last-name,
.salespeople-list-last-name {
    grid-area: last;
}

.manager-list-email,
.salespeople-list-email {
    grid-area: email;
    text-transform: none;
}

.manager-list-reset,
.salespeople-list-reset {
    grid-area: reset;
}

.house-list-item {
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: "street city district country sales status details";
    grid-gap: 5px;
}

#salesperson-house-list .house-list-item {
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: "street city district country status details";
    grid-gap: 5px;
}

.house-list-street {
    grid-area: street;
}

.house-list-city {
    grid-area: city;
}

.house-list-district {
    grid-area: district;
}

.house-list-country {
    grid-area: country;
}

.house-list-salesperson {
    grid-area: sales;
}

.house-list-status {
    grid-area: status;
}

.house-list-details {
    grid-area: details;
}

footer > p {
    text-align: center;
}

/*Affects the header section, fits logo to header, applies a translucent background*/
.header > h1 {
    height: 35%;
    background-color: rgba(66, 226, 244, .5);
    padding: 0;
}

/*Navigation bar settings, affected by the header class*/
.navbar-nav {
    height: 50px;
    margin: 0 1px 0 1px;
    /*background-color: cadetblue;*/
    opacity: .8;
}

    /*Changes the list style on navigation bar (currently set to an unordered list)*/
    .navbar-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        /*background-color: cadetblue;*/
    }

    /*Affects the individual labels on the navbar */
.nav-item li {
    display: inline;
    float: left;
    padding: 15px;
    margin-left: -30px;
    /*background-color: cadetblue;*/
}

    /*Affects the anchors attached to each list item on the navbar */
.navbar-nav a {
    /*background-color: cadetblue;*/
    text-decoration: none;
    padding: 10px;
    border-collapse: collapse;
    color: black;

}

.no-link-modify {
    text-decoration: none;
    color: inherit;
}

#house-details {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#house-details > div {
    border: 1px solid black;
    width: 100%;
}

#house-detail-address {
    display: grid;
    padding: 5px;
    grid-template-columns: 20% 20% 10% 40% 10%;
    grid-template-areas:
        ". head . street ."
        ". head . city ."
        ". head . country .";
    grid-gap: 5px;
    align-items: center;
}

#house-detail-address h5 {
    grid-area: head;
}

#house-detail-address :nth-child(2) {
    grid-area: street;
}

#house-detail-address :nth-child(3) {
    grid-area: city;
}

#house-detail-address :nth-child(4) {
    grid-area: country;
}

#house-detail-salesperson {
    display: grid;
    padding: 5px;
    grid-template-columns: 20% 20% 10% 40% 10%;
    grid-template-areas: ". head . salesperson .";
    grid-gap: 5px;
    align-items: center;
}

#house-detail-salesperson h5 {
    grid-area: head;
}

#house-detail-salesperson div {
    grid-area: salesperson;
}

#house-detail-status {
    display: grid;
    padding: 5px;
    grid-template-columns: 20% 20% 10% 40% 10%;
    grid-template-areas: ". head . status .";
    grid-gap: 5px;
    align-items: center;
}

    #house-detail-status h5 {
        grid-area: head;
    }

    #house-detail-status div {
        grid-area: status;
    }




/*#user-login-form, #manager-create-salesperson, #manager-create-salesperson*/



#user-login-form, #admin-create-manager,
#manager-create-salesperson, #manager-create-house,
#manager-create-product {
    box-sizing: border-box;
}

#user-login-form, #admin-create-manager,
#manager-create-salesperson, #manager-create-house,
#manager-create-product {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

    #user-login-form input, #admin-create-manager input,
    #manager-create-salesperson input, #manager-create-house input,
    #manager-create-product input {
        margin-bottom: 1rem;
        background: #fff;
        border: 1px solid #9c9c9c;
    }

    #user-login-form button, #admin-create-manager button,
    #manager-create-salesperson button, #manager-create-house button,
    .reset-password-button, #manager-create-product button {
        background: lightgrey;
        padding: 0.7em;
        border: 0;
    }

        #user-login-form button:hover, #admin-create-manager button:hover,
        #manager-create-salesperson button:hover, #manager-create-house button:hover,
        .reset-password-button:hover, #manager-create-product button:hover {
            background: gold;
        }

    #user-login-form label, #admin-create-manager label,
    #manager-create-salesperson label, #manager-create-house label,
    #manager-create-product label {
        text-align: right;
        display: block;
        padding: 0.5em 1.5em 0.5em 0;
    }

    #user-login-form input, #admin-create-manager input,
    #manager-create-salesperson input, #manager-create-house input,
    #manager-create-product input {
        width: 100%;
        padding: 0.7em;
        margin-bottom: 0.5rem;
    }

        #user-login-form input:focus, #admin-create-manager input:focus,
        #manager-create-salesperson input:focus, #manager-create-house input:focus,
        #manager-create-product input:focus {
            outline: 3px solid gold;
        }

    #manager-create-house select {
        width: 100%;
        padding: 0.7em;
        margin-bottom: 0.5rem;
    }

@media (min-width: 400px) {
    #user-login-form, #admin-create-manager,
    #manager-create-salesperson, #manager-create-house,
    #manager-create-product {
        overflow: hidden;
    }

        #user-login-form label, #admin-create-manager label,
        #manager-create-salesperson label, #manager-create-house label,
        #manager-create-product label {
            float: left;
            width: 200px;
        }

        #user-login-form input, #admin-create-manager input,
        #manager-create-salesperson input, #manager-create-house input,
        #manager-create-product input {
            float: left;
            width: calc(100% - 200px);
        }

        #user-login-form select, #admin-create-manager select,
        #manager-create-salesperson select, #manager-create-house select {
            float: left;
            width: calc(100% - 200px);
        }

        #user-login-form button, #admin-create-manager button,
        #manager-create-salesperson button, #manager-create-house button,
        #manager-create-product button {
            float: right;
            width: calc(100% - 200px);
        }

    /*Sets the page background to the chosen URL*/
    body {
        background-image: url("https://i0.wp.com/www.itsdevelopers.in/wp-content/uploads/2017/11/web-designer-kottayam-background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }
}