<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Administrator" asp-action="Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
            </li>
            <partial name="~/Views/Shared/Partials/LogoutNavButton.cshtml" />
        </ul>
    </div>
</nav>

