@section Title {Transactions - Salesperson}

@model TransactionsViewModel
@using DoorToDoorLibrary.DatabaseObjects
<div class="main-content">
    <div class="container">
        <h2>My Transactions:</h2>
        <ul>
            @foreach (TransactionItem item in Model.Transactions)
            {
                <li>Date: @item.Date Amount: @item.Amount House: @item.House Product: @item.Product</li>
            }
        </ul>
    </div>
</div>