@model Salesperson
@*@using DoorToDoorLibary.DAL*@
@{
    ViewData["Title"] = "Add Salesperson";
}

<form asp-controller="Home" asp-action="AddSalesperson" method="post">

    <section class="centeredPanel">
        <h2><strong>Add Salesperson</strong></h2>

        <div class="firstname">
            <label asp-for="FirstName">First Name</label>
            <div>  <input type="text" asp-for="FirstName" /></div>
            <span class="validation" asp-validation-for="FirstName"></span>
        </div>

        <div class="lastname">
            <label asp-for="LastName">Last Name</label>
            <div>  <input type="text" asp-for="LastName" /></div>
            <span class="validation" asp-validation-for="LastName"></span>
        </div>

        <div class="email">
            <label asp-for="EmailAddress">Your email</label>
            <div>  <input type="text" asp-for="EmailAddress" /></div>
            <span class="validation" asp-validation-for="EmailAddress"></span>
        </div>

        <div class="password">
            <label asp-for="Password">Password</label>
            <div>  <input type="text" asp-for="Password" /></div>
            <span class="validation" asp-validation-for="Password"></span>
        </div>

        <div class="confirmpassword">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <div>  <input type="text" asp-for="ConfirmPassword" /></div>
            <span class="validation" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="button">
            <input type="submit" value="Submit" />
        </div>
    </section>
</form>