@section Title{Login}
@model LoginViewModel

    <div class="main-content">
        <div class="container">
            <form asp-controller="Home" asp-action="Login" method="post" id="user-login-form">
                <div class="container">
                    @*<label asp-for="EmailAddress"></label>*@
                    <input asp-for="EmailAddress" type="email" placeholder="Username" />
                    <span asp-validation-for="EmailAddress"></span>


                    @*<label asp-for="Password"></label>*@
                    <input asp-for="Password" type="password" placeholder="Password" />
                    <span asp-validation-for="Password"></span>


                    <span>
                        @Html.ValidationMessage("invalid")
                    </span>
           
                        <button>Login</button>
           
                </div>
            </form>
        </div>
    </div>