@section Title{Login}
@model LoginViewModel

<form asp-controller="Home" asp-action="Login" method="post" id="user-login-form">
    <label asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" type="email" />
    <span asp-validation-for="EmailAddress"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" type="text" />
    <span asp-validation-for="Password"></span>
    <button>Login</button>
    <span>
        @Html.ValidationMessage("invalid", new { @class = "field-validation-error" })
    </span>
</form>