@section Title{Reset Password}
@model ResetPasswordViewModel


    <div class="container">
        <h4>Successfully Reset Password!</h4>

        <form asp-controller="Home" asp-action="ResetRedirect" method="post" id="password-reset-redirect">
            <button>Continue</button>
        </form>
    </div>